<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>イメージ</th>
            <th>タイトル</th>
            <th>概要</th>
          </tr>
        </thead>
        <tbody class="table-sortable">
          <% @notes.each do |note| %>
          <%= render 'public/organizes/organize_note', note: note %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>