<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="my-3">ドラッグ&ドロップでページの並び替えができます。</div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ページ名称</th>
            <th>コメント数</th>
            <th>いいね</th>
          </tr>
        </thead>
        <tbody id="pages_list" class="table-sortable">
          <% @pages.each do |page| %>
          <%= render 'public/organizes/organize_page', page: page %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>