<div class="container">
  <div class="row">
    <div class="col-12">

      <%# ノート検索 %>
      <% if @range == '2' %>
      <div class="my-3">
        <h3>'<%= @word %>'を含むノートを検索しました。</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>イメージ</th>
            <th>タイトル</th>
            <th>概要</th>
          </tr>
        </thead>
        <tbody class="table-sortable">
          <% @notes.each do |note| %>
          <%= render 'public/notes/note', note: note %>
          <% end %>
        </tbody>
      </table>

      <%# ユーザ検索 %>
      <% else %>
      <div class="my-3">
        <h3>'<%= @word %>'を含むユーザを検索しました。</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ユーザ名</th>
            <th>紹介文</th>
          </tr>
        </thead>
        <tbody class="">
          <% @end_users.each do |end_user| %>
          <%= render 'public/end_users/end_user', end_user: end_user %>
          <% end %>
        </tbody>
      </table>
      <% end %>

    </div>
  </div>
</div>