<span class="text-center">
  <H3>あなただけのノートが作れます。</H3>
  <p>
    このサイトでは、あなたはノートにどんなことでも書くことができます。<br>
    なんでも好きなことを、好きなだけ書いてみましょう。
  </p>
  <H3>みんなのノートを見ることができます。</H3>
  <p>みんながどんなノートを書いているのか、検索して見てみましょう。</p>
</span>